In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sbn
from sklearn.model_selection import train_test_split
import statsmodels as st
from statsmodels.stats import outliers_influence
from statsmodels.api import Logit
import random
from sklearn.utils import shuffle
import math

In [2]:
data=pd.read_csv(r"E:\proge bank gharz\new_train.csv")
data.count()

age            32950
job            32950
marital        32950
education      32950
default        32950
housing        32950
loan           32950
contact        32950
month          32950
day_of_week    32950
duration       32950
campaign       32950
pdays          32950
previous       32950
poutcome       32950
y              32950
dtype: int64

# clean non value

In [3]:
print("numer of job==unknown********************",data[data["job"]=="unknown"].count())
data.drop(data[data["job"]=="unknown"].index,inplace=True)
print("numer of data after drop job==unknown*****************************",data.count())

numer of job==unknown******************** age            265
job            265
marital        265
education      265
default        265
housing        265
loan           265
contact        265
month          265
day_of_week    265
duration       265
campaign       265
pdays          265
previous       265
poutcome       265
y              265
dtype: int64
numer of data after drop job==unknown***************************** age            32685
job            32685
marital        32685
education      32685
default        32685
housing        32685
loan           32685
contact        32685
month          32685
day_of_week    32685
duration       32685
campaign       32685
pdays          32685
previous       32685
poutcome       32685
y              32685
dtype: int64

In [4]:
print("numer of marital==unknown********************",data[data["marital"]=="unknown"].count())
data.drop(data[data["marital"]=="unknown"].index,inplace=True)
print("numer of data after drop marital==unknown*****************************",data.count())

numer of marital==unknown******************** age            57
job            57
marital        57
education      57
default        57
housing        57
loan           57
contact        57
month          57
day_of_week    57
duration       57
campaign       57
pdays          57
previous       57
poutcome       57
y              57
dtype: int64
numer of data after drop marital==unknown***************************** age            32628
job            32628
marital        32628
education      32628
default        32628
housing        32628
loan           32628
contact        32628
month          32628
day_of_week    32628
duration       32628
campaign       32628
pdays          32628
previous       32628
poutcome       32628
y              32628
dtype: int64

In [5]:
print("numer of education==unknown********************",data[data["education"]=="unknown"].count())
data.drop(data[data["education"]=="unknown"].index,inplace=True)
print("numer of data after drop marital==unknown*****************************",data.count())

numer of education==unknown******************** age            1294
job            1294
marital        1294
education      1294
default        1294
housing        1294
loan           1294
contact        1294
month          1294
day_of_week    1294
duration       1294
campaign       1294
pdays          1294
previous       1294
poutcome       1294
y              1294
dtype: int64
numer of data after drop marital==unknown***************************** age            31334
job            31334
marital        31334
education      31334
default        31334
housing        31334
loan           31334
contact        31334
month          31334
day_of_week    31334
duration       31334
campaign       31334
pdays          31334
previous       31334
poutcome       31334
y              31334
dtype: int64

In [6]:
print("numer of default==unknown********************",data[data["default"]=="unknown"].count())
data.drop(data[data["default"]=="unknown"].index,inplace=True)
print("numer of data after drop default==unknown*****************************",data.count())

numer of default==unknown******************** age            6432
job            6432
marital        6432
education      6432
default        6432
housing        6432
loan           6432
contact        6432
month          6432
day_of_week    6432
duration       6432
campaign       6432
pdays          6432
previous       6432
poutcome       6432
y              6432
dtype: int64
numer of data after drop default==unknown***************************** age            24902
job            24902
marital        24902
education      24902
default        24902
housing        24902
loan           24902
contact        24902
month          24902
day_of_week    24902
duration       24902
campaign       24902
pdays          24902
previous       24902
poutcome       24902
y              24902
dtype: int64

In [7]:
print("numer of housing==unknown********************",data[data["housing"]=="unknown"].count())
data.drop(data[data["housing"]=="unknown"].index,inplace=True)
print("numer of data after drop housing==unknown*****************************",data.count())

numer of housing==unknown******************** age            597
job            597
marital        597
education      597
default        597
housing        597
loan           597
contact        597
month          597
day_of_week    597
duration       597
campaign       597
pdays          597
previous       597
poutcome       597
y              597
dtype: int64
numer of data after drop housing==unknown***************************** age            24305
job            24305
marital        24305
education      24305
default        24305
housing        24305
loan           24305
contact        24305
month          24305
day_of_week    24305
duration       24305
campaign       24305
pdays          24305
previous       24305
poutcome       24305
y              24305
dtype: int64

In [8]:
print("numer of loan==unknown********************",data[data["loan"]=="unknown"].count())

numer of loan==unknown******************** age            0
job            0
marital        0
education      0
default        0
housing        0
loan           0
contact        0
month          0
day_of_week    0
duration       0
campaign       0
pdays          0
previous       0
poutcome       0
y              0
dtype: int64

In [9]:
print("numer of loan==unknown********************",data[data["contact"]=="unknown"].count())

numer of loan==unknown******************** age            0
job            0
marital        0
education      0
default        0
housing        0
loan           0
contact        0
month          0
day_of_week    0
duration       0
campaign       0
pdays          0
previous       0
poutcome       0
y              0
dtype: int64

In [10]:
print("numer of loan==unknown********************",data[data["poutcome"]=="nonexistent"].count())

numer of loan==unknown******************** age            20545
job            20545
marital        20545
education      20545
default        20545
housing        20545
loan           20545
contact        20545
month          20545
day_of_week    20545
duration       20545
campaign       20545
pdays          20545
previous       20545
poutcome       20545
y              20545
dtype: int64

In [11]:
data.drop("poutcome",axis=1,inplace=True)

In [12]:
data_drop_unknown=data
data_drop_unknown.to_csv(r"C:\Users\HP 250\Desktop\preojec_banca\data_drop_unknown.csv")